<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="wrapper">
        <section class="screen" name="result" value="{{ result }}">
            {{ result }}
        </section>
        <section class="calc-buttons">
            <form method="post" action="/press_button">
                <!--Creamos un input oculto para llevar// Create a shadow input to do the operations.
                --the value of the button are the text is going to have the textLabel-->
                <input type="hidden" name="result" value="{{ result }}" id="result">
                <div class="calc-button-row">
                    <button class="calc-button double" name="button" value="C">
                        C
                    </button>
                    <button class="calc-button" name="button" value="borrar">
                        &larr;
                    </button>
                    <button class="calc-button" name="" value="dividir">
                        &divide;
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button" name="button" value="7">
                        7
                    </button>
                    <button class="calc-button" name="button" value="8">
                        8
                    </button>
                    <button class="calc-button" name="button" value="9">
                        9
                    </button>
                    <button class="calc-button" name="" value="multi">
                        &times;
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button" name="button" value="4">
                        4
                    </button>
                    <button class="calc-button" name="button" value="5">
                        5
                    </button>
                    <button class="calc-button" name="button" value="6">
                        6
                    </button>
                    <button class="calc-button" name="button" value="minus">
                        &minus;
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button" name="button" value="1">
                        1
                    </button>
                    <button class="calc-button" name="button" value="2">
                        2
                    </button>
                    <button class="calc-button"name="button" value="3">
                        3
                    </button>
                    <button class="calc-button" name="button" value="suma">
                        &plus;
                    </button>
                </div>
                <div class="calc-button-row">
                    <button class="calc-button triple" name="button" value="0">
                        0
                    </button>
                    <button class="calc-button" name="button" value="igual">
                        &equals;
                    </button>
                </div>
            </form>
        </section>
    </div>
</body>

</html>